<div>
  <input type="text" class="form-control" ng-model="mainController.search">
  <button ng-click="searchController.find(mainController.search)">Search</button>
  <div class="results">
    <table class="table table-condensed">
      <thead>
        <th>Key</th>
        <th>Canonical Name</th>
        <th>Scientific Name</th>
        <th>Rank</th>
      </thead>
      <tbody>
        <tr ng-click="mainController.setUsageKey(searchController.result.usageKey)">
          <td>{{searchController.result.usageKey}}</td>
          <td>{{searchController.result.canonicalName}}</td>
          <td>{{searchController.result.scientificName}}</td>
          <td>{{searchController.result.rank}}</td>
          <td>{{searchController.result.records}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>