<div>
  <input type="text" class="form-control" ng-model="search">
  <button ng-click="find(search)">Search</button>
  <div class="results">
    <table class="table table-condensed">
      <thead>
        <th>Key</th>
        <th>Canonical Name</th>
        <th>Scientific Name</th>
        <th>Rank</th>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td>{{result.key}}</td>
          <td>{{result.canonicalName}}</td>
          <td>{{result.scientificName}}</td>
          <td>{{result.rank}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>