body {
  margin-top: 60px;
  margin-bottom: 10px; }

#search {
  padding-bottom: 10px; }
  @media screen and (min-width: 200px) and (max-width: 640px) {
    #search input {
      font-size: 24px; }
    #search .table {
      font-size: 14px; } }
  #search .dropdown-menu {
    z-index: 100000; }

#map {
  display: block; }
  #map .map {
    width: 100%;
    height: 600px; }
  @media screen and (max-height: 800px) {
    #map .map {
      height: 400px; } }

.navbar img {
  padding: 5px;
  width: 50px;
  height: 50px; }

.footer {
  position: absolute;
  bottom: 0;
  height: 60px; }
  .footer img {
    width: 20px;
    height: 20px; }

#spinner-container {
  z-index: 10000;
  position: fixed;
  right: 0; }
  #spinner-container .spinner {
    position: absolute;
    right: 20px; }
    #spinner-container .spinner img {
      width: 30px;
      height: 30px; }
